<footer class="h-25 d-flex justify-content-around main-footer">
  <p class="text-center">Made by Tamas Kovacs 2022</p>
  <p>
    Sources: <a href="https://www.rome.net/" target="_blank">Rome.net</a>,
    <a href="https://hu.wikipedia.org/wiki/Colosseum" target="_blank"
      >Wikipedia</a
    >,
    <a
      href="https://www.history.com/topics/ancient-greece/pantheon"
      target="_blank"
      >History.com</a
    >
  </p>
</footer>
