<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>
  <header>
    <section
      class="d-flex flex-column justify-content-center align-items-center mt-5"
    >
      <h1 class="main_title animate__animated animate__fadeIn">Rome</h1>
      <blockquote class="block text-center fst-italic">
        "Such life of yore the ancient Sabines led,<br />
        Such Remus and his brother: Etruria thus,<br />
        Doubt not, to greatness grew, and Rome became <br />
        The fair world's fairest, and with circling wall."
      </blockquote>
      <span class="block text-center m-auto"
        >Vergilius: Georgics II. 532-535.</span
      >
    </section>
  </header>
  <main class="container-fluid homepage_content_container">
    <section
      class="d-flex flex-column justify-content-center align-items-center ms-auto me-auto mb-3 w-100"
    >
      <p class="description_text p-3">
        Rome, the capital of Italy is one of the most beautiful city in Europe
        and the center of the ancient Roman Empire. It's located on the
        central-western part of the Italian-Peninsula, along the shores of
        Tiber. You can find a piece of history from the last 2000 years in
        almost every corner of the city. Let's visit together some of Rome's
        incredible wonders!
      </p>
    </section>
    <section class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-4 m-3 pe-auto d-flex justify-content-center align-items-center link_container colosseum_link"
        >
          <a class="page_links" href="/colosseum"><h2>COLOSSEUM</h2></a>
        </div>
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-4 m-3 pe-auto d-flex justify-content-center align-items-center link_container forum_link"
        >
          <a class="page_links" href="/forum"><h2>FORUM ROMANUM</h2></a>
        </div>
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-4 m-3 pe-auto d-flex justify-content-center align-items-center link_container pantheon_link"
        >
          <a class="page_links" href="/pantheon"><h2>PANTHEON</h2></a>
        </div>
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-4 m-3 pe-auto d-flex justify-content-center align-items-center link_container trevi_link"
        >
          <a class="page_links" href="/trevi"><h2>TREVI FOUNTAIN</h2></a>
        </div>
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-4 m-3 pe-auto d-flex justify-content-center align-items-center link_container castle_link"
        >
          <a class="page_links" href="/castle"><h2>CASTEL SANT'ANGELO</h2></a>
        </div>
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-4 m-3 pe-auto d-flex justify-content-center align-items-center link_container vatican_link"
        >
          <a class="page_links" href="/vatican"><h2>VATICAN CITY</h2></a>
        </div>
      </div>
    </section>
  </main>
  <%- include('partials/home_footer') %>
</body>
