<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>
  <main class="container">
    <section
      class="d-flex flex-column justify-content-center align-items-center mt-5"
    >
      <h1 class="display-1 w-700 main_title">Rome</h1>
      <blockquote class="block text-center fst-italic m-2">
        "Such life of yore the ancient Sabines led,<br> Such Remus and his brother:
        Etruria thus,<br> Doubt not, to greatness grew, and Rome became <br> The fair
        world's fairest, and with circling wall."
      </blockquote>
      <span class="block text-center m-auto">Vergilius: Georgics II. 532-535.</span>
    </section>
    <section class="d-flex flex-column justify-content-center align-items-center mt-5 ms-auto me-auto mb-5 w-75">
      <p class="text-center">
        Rome, the capital of Italy is one of the most beautiful city in Europe and the center of the ancient Roman Empire. It's located on the central-western part of the Italian-Peninsula, along the shores of Tiber. You can find a piece of history from the last 2000 years in almost every corner of the city. Let's visit together some of Rome's incredible wonders!
      </p>
    </section>
  </main>
</body>
