@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  background: #f7f4f3;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

/* NAVBAR */

.navbar {
  background-color: rgb(84, 11, 14);
}

.navbar-brand {
  color: white;
  font-family: "Quattrocento", serif;
}

.navbar-brand:visited {
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* HEADER */

header {
  width: 100%;
  height: 500px;
  background-image: url("/images/rome-header-bg.png");
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  color: rgb(84, 11, 14);
}

.main_title {
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 5px;
}

.animate__animated.animate__fadeIn {
  animation-duration: 3s;
  animation-delay: 0.5s;
}

blockquote {
  font-family: "Merriweather", serif;
  font-size: 14px;
}

/* MAIN */

.homepage_content_container {
  background-color: rgb(5,5,5);
  color: #f7f4f3;
}

.description_text {
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
}

span a {
  color: rgb(172, 25, 30);
  text-decoration: none;
  transition: color 0.2s ease-in;
}

span a:hover {
  color: rgb(84, 11, 14);
}

span a:visited {
  color: rgb(84, 11, 14);
}
/* HOME PAGE LINKS */

.link_container {
  padding: 50px 0;
  background-size: cover;
  background-position: center;
  filter: grayscale(30%);
}

.colosseum_link {
  background-image: url("/images/colosseum.jpg");
}

.forum_link {
  background-image: url("/images/forum.jpg");
}

.pantheon_link {
  background-image: url("/images/pantheon_day.jpg");
}

.trevi_link {
  background-image: url("/images/trevi.jpg");
}

.castle_link {
  background-image: url("/images/sanangelo.jpg");
}

.vatican_link {
  background-image: url("/images/vatican_day.jpg");
}

.page_links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;

  font-family: "Merriweather", serif;
  font-size: 20px;
  color: rgb(84, 11, 14);
  text-shadow: 1.5px 1.5px 1.5px #f7f4f3;
  text-align: center;

  backdrop-filter: blur(8px);
  transition: all 0.5s;
  clip-path: polygon(0 calc(100%), 100% calc(100%), 100% 100%, 0% 100%);
}

.page_links:visited {
  text-decoration: none;
  color: rgb(84, 11, 14);
}

.link_container:hover .page_links {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.page_image {
  width: 100%;
}

/* FOOTER */

footer {
  font-size: 8px;
}

.main-footer {
  background-color: rgb(5,5,5);
  color: #f7f4f3;
  /* font-size: 8px; */
}

.main-footer a,
a:hover,
a:visited {
  color: #f7f4f3;
  text-decoration: none;
}

.main-footer a:hover {
  color: #f7f4f3;
  text-decoration: none;
}
.main-footer a:visited {
  color: #f7f4f3;
  text-decoration: none;
}

.sub-footer a,
a:hover,
a:visited {
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  header {
    height: 600px;
  }
  .main_title {
    font-size: 70px;
  }
  blockquote {
    font-size: 25px;
  }
  .description_text {
    text-align: justify;
    font-size: 30px;
  }
  footer {
    font-size: 10px;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 1000px;
    /* background-position: bottom; */
  }
  .main_title {
    font-size: 80px;
  }
  .page_links {
    font-size: 30px;
  }
  .carousel {
    width: 60% !important;
  }
  .description_text {
    width: 75%;
  }
  footer {
    font-size: 12px;
  }
}
